

.header {
    display: flex;
    justify-content: center;
}

.slides-container {
    width: 1300px; 
    margin-right: 1000px;
    height: 1000px; 
}

.slides-container iframe {
    width: 100%; 
    height: 100%;
}


.center {
    display: flex;
    justify-content: center;
}



.title {
    color: black;
    font-size: 60px;
}

body {
    overflow-y: auto; 
}
.iphone-background {
    background-image: url('https://img.freepik.com/free-photo/front-view-hand-holding-smartphone_23-2148775905.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    width: 50%; 
    height: 100% ; 
    position: fixed;
    top: 10%; 
    right: -10%; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}
/* -------------------------------------------------------- */
#weather-app {
    background-image: url('/icons/weather.png');
    background-size: 100%;
    width: 10%; 
    height: 10%; 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 25%; 
    right: 50%; 
}
#weather-info {
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    top: 20%;
}
#weather-text {
    position: absolute;
    top: 36%; 
    right: 56%; 
    transform: translateX(50%); 
    font-weight: bold;
    font-size: 25px; 
}
/* -------------------------------------------------------- */



#contacts-app {
    background-image: url('/icons/contacts.png');
    background-size: contain;
    background-position: center center;
    width: 10%; 
    height: 10%; 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 40%; 
    right: 35%; 
}
#contacts-text {
    position: absolute;
    top: 51%; 
    right: 41%; 
    transform: translateX(50%); 
    font-weight: bold;
    font-size: 25px; 
}
/* -------------------------------------------------------- */



#contacts2-app {
    background-image: url('/icons/tableau1.png');
    background-size: contain;
    background-position: center center;
    width: 10%; 
    height: 10%; 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 40%; 
    right: 50%; 
}
#contacts2-text {
    position: absolute;
    top: 51%;
    right: 56%; 
    transform: translateX(50%); 
    font-weight: bold;
    font-size: 25px; 
}
/* -------------------------------------------------------- */


#team4-movies-app {
    background-image: url('/icons/4.png');
    background-size: contain;
    background-position: center center;
    width: 10%; 
    height: 10%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 25%; 
    right: 35%; 
}
#team4-movies-app-text {
    position: absolute;
    top: 36%; 
    right: 41%; 
    transform: translateX(50%);
    font-weight: bold;
    font-size: 25px;
}
/* -------------------------------------------------------- */



#weather-info {
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}


.app h2 {
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0; 
    left: 35%;
    top: 20%;
    width: 100%;
    margin: 0;
    padding: 8px;
    font-size: 60px;
}


/* -------------------------------------------------------- */
#clock-container {
    position: absolute;
    top: 250px;
    left: 450px;
    color: rgb(0, 0, 0);
    font-size: 75px; 
}





